{% extends "ex01/base.html" %}

{% block title %} Ex01: Django, framework web. {% endblock %}

{% block content %}
<h1> Django </h1>
<p>
  Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
</p>
<h2> History </h2>

<p>
  Django was created in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications. Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended. It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt. Adrian Holovaty is a Romani jazz guitar player and a big fan of Django Reinhardt.
</p>

<p>
  In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain Django in the future.
</p>

{% endblock %}
