{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block title %}
    <title>Moviemon</title>
    {% endblock title %}
  </head>
  <body>
	<content>
	  {% block content %}
	  {% endblock content %}
	  <table id="control">
		<tr>
		  <td>
		  </td>
		  <td>
			<a href="{{ request.path }}?key=up"> up </a> <br>
		  </td>
		  <td>
		  </td>
		</tr>
		<tr>
		  <td>
			<a href="{{ request.path }}?key=left"> left </a>
		  </td>
		  <td>
		  </td>
		  <td>
			<a href="{{ request.path }}?key=right"> right </a> <br>
		  </td>
		</tr>
		<tr>
		  <td>
		  </td>
		  <td>
			<a href="{{ request.path }}?key=down"> down </a>
		  </td>
		  <td>
		  </td>
		</tr>
	  </table>
	  <br>
	  <a href="{{ request.path }}?key=a"> A </a> <br>
	  <a href="{{ request.path }}?key=b"> B </a> <br>
	  <a href="{{ request.path }}?key=select"> Select </a> <br>
	  <a href="{{ request.path }}?key=start"> Start </a> <br>
	  <br>
	</content>
  </body>
</html>
